/*importando a fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*resetando algumas propriedades ja definidas pelo navegador*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box; /*não ter espaçamentos dentro do box*/
    outline:none;
    font-family: 'Roboto' sans-serif;/* mudando a fonte principal da página*/
}

:root
{
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

html, body
{
    width: 100%;
    overflow-x:hidden; /*retira a barra de rolagem horizontal*/
}

header
{
    width: 100%;
    height: 500px;
    background: var(--orange) /* "var(--orange)" usando as cores definidas no ":root"*/
}

